#home {
  width: 50%;
  height: 400px;
  top: 10%;
  left: 25%;
  padding: 20px;
  background-color: #00CCFF;
  border-radius: 5px;
  text-align: center;
  position: absolute;
}

body {
  background-image: url();
}

#signup, #login, #instructions, #scores, .setting {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #00CCFF;
  border-radius: 5px;
  text-align: center;
}

#settings {
  background-image: url(../images/setting-cog.png);
  height: 20px;
  width: 20px;
  right: 2%;
  top: 5%;
  position: absolute;
}

.instructions, .scores, .play {
  padding: 14px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
  text-decoration: none;
}

#nope {
  background-image: url(../images/nope.jpg);
  width: 50%;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}

#gameContainer {
  width: 90%;
  background-color: grey;
  height: 550px;
  margin: 0 auto;
  position: relative;
}

#weather {
  width: 60%;
  height: 500px;
  position: absolute;
}

#habitat {
  width: 60%;
  height: 350px;
  position: absolute;
  top: 200px;
}

#stats {
  left: 60%;
  width: 40%;
  background-color: grey;
  height: 200px;
  position: absolute;
}

.helmet {
  width: 50px;
  height: 50px;
  background-image: url("../images/helmet.png");
  position: absolute;
  z-index: 0;
}

.organisms {
  width: 50px;
  height: 50px;
  background-image: url("../images/stonedude.png");
  position: absolute;
  z-index: 1;
}

#parent1, #parent2 {
  width: 50px;
  height: 50px;
  background-image: url("../images/dropstonedude.png");
  margin: 5px;
  position:absolute;
}

#parent1 {
  left: 15%;
  top: 10%;
}

#parent2 {
  right: 15%;
  top: 10%;
}

#stats1, #stats2 {
  background-color: black;
  color: white;
  width: 90%;
  position: absolute;;
  height: 40px;
  left: 5%;
}

#stats1 {
  top: 40%;
}

#stats2 {
  top: 70%;
}

#punnett {
  background-color: grey;
  top: 200px;
  width: 40%;
  height: 350px;
  display: inline;
  position: absolute;
  left: 60%;
}

#tl, #tr, #bl, #br {
  width: 20%;
  position: absolute;
  height: 20%;
  text-align: center;
  vertical-align: middle;
  line-height: 200%;
  font-size: 30px;
  font-family: sans-serif;
  border: 1px solid black;
  background-color: white;
}

.tl, .tr, .bl, .br {
  width: 10%;
  position: absolute;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  line-height: 130%;
  font-size: 30px;
  font-family: sans-serif;
  border: 1px solid black;
  background-color: white;
}

.tl {
  /*background-color: red;*/
  float: left;
  left: 30%;
  top: 20%;
}

.bl {
  /*background-color: blue;*/
  float: left;
  left: 50%;
  top: 20%;
}

.tr {
  /*background-color: green;*/
  float: left;
  left: 20%;
  top: 30%;
}

.br {
  /*background-color: purple;*/
  float: left;
  left: 20%;
  top: 50%;
}

#tl {
  /*background-color: green;*/
  float: left;
  left: 30%;
  top: 30%;
}

#bl {
  /*background-color: blue;*/
  float: left;
  left: 30%;
  top: 50%;
}

#tr {
  /*background-color: red;*/
  float: right;
  right: 30%;
  top: 30%;
}

#br {
  /*background-color: yellow;*/
  float: right;
  right: 30%;
  top: 50%;
}


ul li {
  float: left;
  width: 20%;
  list-style-type: none;
  padding: 10px 20px;
  background-color: black;
  color: white;
  margin: 5px 5px;
  border-radius: 5px;
}

ul li:hover {
    background-color: grey;
}

li {
  list-style-type: none;
}

#babies {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 80%;
}
