#home {
  width: 70%;
  height: 400px;
  top: 10%;
  left: 15%;
  background-color: #00CCFF;
  border-radius: 10px;
  border: 5px solid #0099FF;
  text-align: center;
  position: absolute;
}

#toHome {
  position: absolute;
  text-decoration: none;
  color: #F8F8F8;
  top: 5%;
  left: 2%;
}

body {
  background: url("../images/bodyBackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signup, #login, #instructions, #scores, .setting {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #00CCFF;
  border-radius: 5px;
  text-align: center;
  border: 5px solid #0099FF;
}

#updatePass, #logout, #deleteAccount, #loginUsername, #loginPassword, #confirmPassword, #newPassword, #currentPassword  {
  width: 20%;
  position: absolute;
  background-color: #0099FF;
  color: #F8F8F8;
  border-radius: 5px;
  font-size: 20px;
  left: 40%;
}

#loginUsername, #loginPassword, #confirmPassword, #newPassword, #currentPassword {
  background-color: white;
  color: #282828;
}

#loginSubmit, #signupSubmit {
  border-style: none;
  position: absolute;
  width: 20%;
  left: 40%;
  font-size: 20px;
  background-color: inherit;
  top: 50%;
  color: #F8F8F8;
}

#signupSubmit {
  top: 60%;
}

#logout, #loginUsername, #currentPassword {
  top: 30%;
}

#logout:hover, #updatePass:hover, #deleteAccount:hover, #scoresHome:hover, #loginSubmit:hover, #signupSubmit:hover{
  text-shadow: 1px 1px #E0E0E0;
}

#updatePass, #loginPassword,#newPassword {
  top: 40%;
}


#deleteAccount, #confirmPassword {
  top: 50%;
}


#scoresHome {
  position: absolute;
  width: 20%;
  text-decoration: none;
  font-size: 30px;
  left: 40%;
  top: 70%;
  color: #F8F8F8;
}

#usernameArray {
  position: absolute;
  width: 20%;
  left: 30%;
}

#scoreArray {
  position: absolute;
  width: 20%;
  left: 50%;
}

#settings {
  background-image: url(../images/setting-cog.png);
  height: 20px;
  width: 20px;
  right: 2%;
  top: 5%;
  position: absolute;
}



.instructions, .scores, .play, #header {
  color: #F8F8F8 ;
  text-decoration: none;
  position: absolute;
  width: 50%;
  height: 50%;
  font-size: 250%;
  text-align: center;
  vertical-align: middle;
  line-height: 400%;
}

.instructions:hover, .scores:hover, .play:hover {
    background-color: #0099FF;
    text-shadow: 1px 1px #E0E0E0;
}

.instructions {
  float: left;
  left: 0px;
  top: 50%;
  border-top: 1px solid #0099FF;
  border-right: 1px solid #0099FF;
}

.scores {
  float: right;
  right: 0px;
  top: 50%;
  border-top: 1px solid #0099FF;
}

.play {
  top: 0px;
}

#header {
  float: left;
  border-right: 1px solid #0099FF;
  font-size: 600%;
  line-height: 200%;
}

.header {
  color: #F8F8F8 ;
  font-size: 40px;
}

#nope {
  background-image: url(../images/nope.jpg);
  width: 50%;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}

#gameContainer {
  width: 90%;
  background-color: grey;
  height: 550px;
  margin: 0 auto;
  position: relative;
  border: 5px solid #0099FF;
  border-radius: 10px;
  z-index: 1;
}

#weather {
  width: 60%;
  height: 500px;
  position: absolute;
}

#habitat {
  width: 60%;
  height: 350px;
  position: absolute;
  top: 200px;
}

#stats {
  left: 60%;
  width: 40%;
  background-color: #00CCFF;
  height: 200px;
  position: absolute;
}

.helmet {
  width: 50px;
  height: 50px;
  background-image: url("../images/helmet.png");
  position: absolute;
  z-index: 0;
}

.organisms, .buds{
  width: 50px;
  height: 50px;
  background-image: url("../images/stonedude.png");
  position: absolute;
}

.organisms {
  z-index: 1;
}

.buds {
  top: 85%;
}

#parent1, #parent2 {
  width: 50px;
  height: 50px;
  background-image: url("../images/dropstonedude.png");
  margin: 5px;
  position:absolute;
  border-radius: 10px;
}

#parent1 {
  left: 15%;
  top: 10%;
}

#parent2 {
  right: 15%;
  top: 10%;
}

#stats1, #stats2 {
  background-color: #282828;
  color: #F8F8F8 ;
  width: 50%;
  position: absolute;;
  height: 30px;
  left: 25%;
  text-align: center;
  border-radius: 10px;
}

#stats1 {
  top: 40%;
}

#stats2 {
  top: 70%;
}

#punnett {
  background-color: #00CCFF;
  top: 200px;
  width: 40%;
  height: 350px;
  display: inline;
  position: absolute;
  left: 60%;
}

#tl, #tr, #bl, #br {
  width: 20%;
  position: absolute;
  height: 20%;
  text-align: center;
  vertical-align: middle;
  line-height: 200%;
  font-size: 30px;
  font-family: sans-serif;
  border:solid #282828;
  background-color: #F8F8F8 ;
}

.tl, .tr, .bl, .br {
  width: 10%;
  position: absolute;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  line-height: 130%;
  font-size: 30px;
  font-family: sans-serif;
  background-color: #F8F8F8 ;
}

.tl {
  /*background-color: red;*/
  float: left;
  left: 30%;
  top: 20%;
}

.bl {
  /*background-color: blue;*/
  float: left;
  left: 50%;
  top: 20%;
}

.tr {
  /*background-color: green;*/
  float: left;
  left: 20%;
  top: 30%;
}

.br {
  /*background-color: purple;*/
  float: left;
  left: 20%;
  top: 50%;
}

#tl {
  /*background-color: green;*/
  float: left;
  left: 30%;
  top: 30%;
}

#bl {
  /*background-color: blue;*/
  float: left;
  left: 30%;
  top: 50%;
}

#tr {
  /*background-color: red;*/
  float: right;
  right: 30%;
  top: 30%;
}

#br {
  /*background-color: yellow;*/
  float: right;
  right: 30%;
  top: 50%;
}

#babies {
  position: absolute;
  border: none;
  width: 20%;
  left: 40%;
  top: 90%;
  color: #F8F8F8;
  background-color: #00CCFF;
  border-radius: 10px;
  border: 5px solid #0099FF;
}

#babies:hover {
  background-color: #0099FF;
  text-shadow: 1px 1px #E0E0E0;
}

.floatingStats {
  text-align: center;
  position: absolute;
  left: 35%;
  width: 30%;
  color: #282828;
  border-radius: 10px;
  font-size: 20px;
  background-color: #00CCFF;
}

#stork {
  background-image: url("../images/stork.png");
  width: 150px;
  height: 50px;
  position: absolute;
  float: right;
  right: 0px;
}

#arrow {
  height: 50px;
  width: 80px;
  position: absolute;
  background-image: url("../images/arrow.png");
  left: 100%;
  z-index: 1;
  top: 5%;
}

#error {
  width: 70%;
  height: 200px;
  position: absolute;
  left: 15%;
  color: #F8F8F8;
  background-color: #00CCFF;
  border-radius: 10px;
  border: 5px solid #0099FF;
}

.error {
  font-size: 40px;
}

.gg {
  width: 40%;
  height: 200px;
  top: 30%;
  position: absolute;
  left: 30%;
  background-color: #00CCFF;
  border-radius: 10px;
  border: 5px solid #0099FF;
  text-align: center;
  vertical-align: middle;
  line-height: 440%;
  font-size: 40px;
}

.ggPlay {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0px;
  text-decoration: none;
  color: #F8F8F8;
  border-right: 1px solid #0099FF;
}

.ggMenu {
  width: 50%;
  height: 100%;
  position: absolute;
  float: right;
  right: 0px;
  text-decoration: none;
  color: #F8F8F8;
}

.ggPlay:hover, .ggMenu:hover {
  background-color: #0099FF;
  text-shadow: 1px 1px #E0E0E0;
}

li {
  list-style-type: none;
}
