#home {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #00CCFF;
  border-radius: 5px;
  text-align: center;
}

body {
  background-image: url();
}

#signup, #login, .setting {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #00CCFF;
  border-radius: 5px;
  text-align: center;
}

#settings {
  background-color: red;
  height: 20px;
  width: 20px;
  float: right;
  position: relative;
  top: -80px;
}

li {
  list-style-type: none;
}
